/* App.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.App {
  display: flex;
  min-height: 100vh;
}

.App-sidebar {
  background-color: #1f1f1f;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

.App-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00ccff;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 15px 0;
  cursor: pointer;
  font-size: 1.1rem;
  color: #cccccc;
  transition: color 0.3s;
}

nav li:hover {
  color: #00ccff;
}

.App-main {
  flex: 1;
  padding: 40px;
}

.App-header {
  text-align: left;
  margin-bottom: 20px;
}

.upload-section {
  background-color: #282c34;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.file-input {
  /* margin-top: 10px;
  padding: 10px 20px; */
  font-size: 1rem;
  /* background-color: #819dd6; */
  color: #282c34;
  /* border: none;
  border-radius: 8px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploading-text {
  font-size: 1.2rem;
  color: #ffcc00;
  margin: 15px 0;
}

.frames-container, .images-container {
  margin-top: 20px;
}

.frames-list, .images-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.frame-image, .uploaded-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.frame-image:hover, .uploaded-image:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

/* Button Style Matching the Audiomatic Logo Color */
.btn-logo {
  background-color: #00ccff; /* Replace with your logo's HEX color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-logo:hover {
  background-color: #9eb3c7; /* A slightly darker shade for hover effect */
}

/* Optional: Consistent Font for Buttons */
button {
  font-family: inherit; /* Ensures consistency with your app's font */
}
